:root{
    --backgrounddark: #344a52;
    --backgroundlight: #678793;
    --branco:#fff;
}

/* NAV / HEAD */
header{
    background-color: var(--backgrounddark);
}

#nav_icon{
    font-size: 12px;
}


/* BODY*/
body{
    background-color: var(--backgroundlight) !important;
    color: var(--branco);
}

#maincontainer{
    background-color: var(--backgroundlight);
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    margin-top: 50px;
    text-align: center;
    color: var(--branco)
}

.content{
    width: 100%;
    background: var(--backgrounddark);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 1px 2px var(--backgroundlight), 0 1px 3px rgb(0 0 0 / 12%);
    margin-bottom: 30px;
}

button:hover{
    color: var(--branco) !important;
    background-color: var(--backgrounddark) !important;
}

#button_limpar{
    width: 100px;
    height: 35px;
    border-radius: 12px;
    border: transparent;
    margin-left: 10px;
    color: var(--backgrounddark);
}

#button_calcular{
    width: 100px;
    height: 35px;
    border-radius: 12px;
    border: transparent;
    margin-right: 10px;
    color: var(--backgrounddark);
}

.select_box{
    border-radius: 5px;
    width: 90px;
    text-align: center;
}

#option_type{

}

#column-calculadora{
    margin-top: 10px;
    margin-bottom: 15px;
}

#h-number{
    font-size: 20px;
    margin-right: 125px;
    margin-top: 10px;
    margin-bottom: 3px;
}

#h-number1{
    font-size: 20px;
    margin-right: 170px;
    margin-top: 10px;
    margin-bottom: 3px;
}

#conversion-msg{
    margin-top: 15px;
    font-style: italic;
    color: var(--backgrounddark);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
     display: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}